.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.ant-layout-header {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    padding-left: 16px !important;
}

.ant-layout-sider {
    position: fixed !important;
    height: 100vh !important;
    left: 0 !important;
    overflow: hidden !important;
}

.ant-layout-content {
    padding: 16px 16px !important;
}

.ant-layout-content > .container-fluid {
    position: relative;
    background-color: #fff;
    padding: 16px !important;
}

.ant-layout-footer {
    text-align: center !important;
}